<app-header></app-header>
<body>
  <div class="container">
    <mat-card>
      <mat-card-header>
        <h2>¿Qué Ofrecemos?</h2>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Reserva de horas</strong>
          <br />
          <strong>Registro de pacientes</strong>
          <br />
          <strong>Inicio de sesión</strong>
          <br />
          <strong>Listado de horas</strong>
          <br />
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</body>
<app-footer></app-footer>
